---
import Button from "@components/Button/Button.astro";
// components
import Hero from "@components/Hero/Hero.astro";
import PostCard from "@components/PostCard/PostCard.astro";
// data
import siteData from "@config/siteData.json";
// utils
import { formatPosts, getAllPosts } from "@js/blogUtils";
// layout
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const posts = await getAllPosts();
const recentPosts = formatPosts(posts, { limit: 3 });
---

<BaseLayout title={siteData.title} description={siteData.description}>
	<Hero />
	<div class="site-container mt-10">
		<!-- Recent blogs -->
		<div class="mx-auto max-w-3xl md:mt-12">
			<h2 class="h2 text-center">Recent Blog Posts</h2>
			<hr class="bg-primary-600/50 mx-auto mt-4 max-w-[30%] rounded-full border-none pt-1" />
			<div class="mt-8 grid gap-4 md:grid-cols-2">
				{
					recentPosts.map((post, idx) =>
						// first post is large post card, don't re-show it here
						idx === 0 ? (
							<div class="md:col-span-2">
								<PostCard post={post} showDescription={true} />
							</div>
						) : (
							<PostCard post={post} showDescription={true} />
						),
					)
				}
			</div>
		</div>

		<!-- link to all posts -->
		<div class="mt-12 flex justify-center">
			<Button variant="outline" arrow="right" href="/blog/">All Posts</Button>
		</div>
	</div>
</BaseLayout>
